<!DOCTYPE html>
<html lang="eng">
    <head>
       <meta charset="UTF-8">
        <title>WebDevUni</title>
        
    </head>
    <body>
        <div class="wrapper">
        <div class="container">
            <div class="topane">Top Pane</div>
            <div class="lefpane">Left Pane</h1></div>
            <div class="middlepane">Middle Pane</h1></dic>
            <div class="rightpane">Right Pane</h1></div>
        </div>
        <header>
            <h1>
                <a href="/">Web Dev United</a>
            </h1>
        </header>
            <main>
                {{{ body }}}
            </main>
            <footer>

            </footer>
       </div>        
    </body>
</html>
