<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5e611748ba.js" crossorigin="anonymous"></script>
    <title>WebDevUnited</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">

        </div>
        <header>
            <h1>
                <a href="/" style="text-decoration: none;">Web Dev United</a>
            </h1>
            <h2>Programming Languages</h2>
            <ul>
                <li><a href="#"><i class="fab fa-html5">HTML</i></a></li>

                <li><a href="#"><i class="fab fa-css3">CSS</i></a></li>

                <li><a href="#"><i class="fab fa-js">JavaScript</i></a></li>

                <li><a href="#"><i class="fab fa-bootstrap">Boostratp</i></a></li>

                <li><a href="#"><i class="fab fa-node">Node.js</i></a></li>

                <li><a href="#"><i class="fab fa-python">Python</i></a></li>

                <li><a href="#"><i class="fab fa-github-square">GitHub</i></a></li>

            </ul>
        </header>
    </div>
    </div>
    <main>
        {{{ body }}}
    </main>
    <section class="hero"></section>
    <section></section>
    <section></section>

    <footer>
        Welcome to Web Dev United!
    </footer>

    </div>
</body>

</html>