<form class="login-form">
    <div>
        <label for="email">email:</label>
        <input type="text" id="email-login" name="email" />
    </div>
    <div>
        <label for="password">password:</label>
        <input type="password" id="password-login" name="password" />
    </div>
    <div>
        <button type="submit">login</button>
    </div>
</form>

<script src="/js/login.js"></script>