<form class="signup-form">
    <div>
        <label for="username">username:</label>
        <input type="text" id="username-signup" name="username" />
    </div>
    <div>
        <label for ="email">email:</label>
        <input type="text" id="email-signup" name="email" />
    </div>
    <div>
        <label for="password">password:</label>
        <input type="password" id="password-signup" name="password" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>

<script src="/js/signup.js"></script>