<body>

    <header>
        <h2>
            WebDevUnited
        </h2>
        <nav>
            <a href="/login"><button class="button is-success">Login</button></a>
        </nav>

    </header>

    <form class="post">
        <div>
            <label for="username">username:</label>
            <input type="text" id="username-signup" name="username" />
        </div>
        <div>
            <label for="email">email:</label>
            <input type="text" id="email-signup" name="email" />
        </div>
        <div>
            <label for="password">password:</label>
            <input type="password" id="password-signup" name="password" />
        </div>
        <div>
            <button type="submit">signup</button>
        </div>
    </form>

    <script src="/js/signup.js"></script>

</body>
