<h1>SignUp</h1>

<form action="/api/users">
    <label for="username">Username:</label>
    <input id="username" name="username"/>

    <label for="email">Email Address:</label>
    <input id="email" name="email"/>

    <label for="password">Password:</label>
    <input id="password" name="password"/>

    <button type="submit">Sign Up</button>
</form>