<form class="signup-form" action="/api/users" method="POST">
    <div>
        <label for="username">username:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for ="email">email:</label>
        <input type="text" id="email" name="email" />
    </div>
    <div>
        <label for="password">password:</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>